flake8==4.0.1
mccabe==0.7.0
pycodestyle==2.8.0
pyflakes==2.4.0

# Deps Pytest
attrs==21.4.0
pluggy==1.0.0
tomli==2.0.1
py==1.11.0
atomicwrites==1.4.0
pytest==8.2.1
pytest-mock==3.6.1

# Coverage
coverage==6.2
pytest-cov==3.0.0


-r requirements.txt
